.editor-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
  flex-grow: 0;
}

.editor-wrapper .button-format {
  position: absolute;
  z-index: 5;
  right: 15px;
  top: 15px;
  opacity: 0;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}
