.editor-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
  flex-grow: 0;
}

.editor-wrapper button {
  position: absolute;
  width: 100px;
  right: 20px;
  opacity: 0;
  z-index: 5;
}

.editor-wrapper .button-format {
  top: 15px;
}

.editor-wrapper .button-execute {
  top: 65px;
}

.editor-wrapper:hover button {
  opacity: 1;
}
